.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: $text-color-gray;
  background-color: $primary-color;
  box-shadow: 0 1px 1px rgba(0,0,0,0.26);
  z-index: 500;
}

.topbar__container {
  display: flex;
  height: $topbar-height;
  margin: 0 auto;

  @media screen and (min-width: 450px) {
    max-width: 450px;
  }

  @media screen and (min-width: 890px) {
    max-width: 890px;
  }

  @media screen and (min-width: 1190px) {
    max-width: 1190px;
  }
}

.topbar__item {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;

  &--left {
    order: 1;
    flex-basis: 100%;

    @media screen and (min-width: 890px) {
      flex-basis: calc(100% / 3);
    }
  }

  &--center {
    order: 2;

    @media screen and (max-width: 890px) {
      display: none;
    }
  }

  &--right {
    order: 3;
    flex-basis: calc(100% / 3);

    @media screen and (max-width: 890px) {
      display: none;
    }
  }
}

.topbar__title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.topbar__title::before {
  content: "";
  display: block;
  height: 21px;
  width: 21px;
  background-size: contain;
  background-image: url("../images/logo.png");
}

.topbar__spinner {
  font-size: 21px;
  color: $highlight_color;
}

.user-dropdown-menu {
  height: 100%;

  .dropdown-menu__list {
    max-width: 200px;
  }
}

.user-dropdown-menu__button {
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.user-dropdown-menu__display-name {
  display: block;
  margin-bottom: 2.5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $text-color;
  font-size: 18px;
  font-weight: bold;
}

.user-dropdown-menu__username {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $text-color-gray;
}

a:hover .user-dropdown-menu__display-name,
a:hover .user-dropdown-menu__username {
  color: $white;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 6px 0;
  box-sizing: border-box;

  & > *:not(:first-child) {
    margin-left: 12px;
  }
}
